@font-face {
  font-family: "Johnson Display";
  src: url("./JohnsonDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Johnson Display";
  src: url("./JohnsonDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Johnson Text";
  src: url("./JohnsonText-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Johnson Text";
  src: url("./JohnsonText-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Johnson Text";
  src: url("./JohnsonText-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
